{% extends "base_layout.html" %}


{% block contenido %}
    <h1>Ejercicio de ejemplo.</h1>
    <p>(Es necesario tener una cuenta para utilizar los servicios de la página.)</p>
    {#Los símbolos de apertura y cierre {% %} indican código#} 
    {#Los símbolos de apertura y cierre {{}} indican datos#}
    <div class="ejercicios">
        
        <h3>{{ejercicio.titulo}}</h3>
        <p>{{ejercicio.tema}}</p>
        <p>{{ejercicio.enunciado}}</p>
        <p>{{ejercicio.fecha}}</p>
        
    </div>

        
    </div>
{% endblock %}