{% extends "base_layout.html" %}


{% block contenido %}

    <div class="container my-5">
      <div class="text-center">
        <h1 class="display-4 text-center mb-3">Pruebas con métodos HTML</h1>
        <button class="btn btn-primary my-3" id="get">GET</button>
        <button class="btn btn-info" id="post">POST</button>
        <button class="btn btn-warning" id="update">PUT/PATCH</button>
        <button class="btn btn-danger" id="delete">DELETE</button>
      </div>
      <hr />
      <div id="respuesta"></div>
    </div>

    <!-- ------------------------------ JavaScript ----------------------------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>

        // var sitio = 'http://0.0.0.0:5000/ejercicios/mostrarListadoejercicios'
        // var sitio = 'http://127.0.0.1:8000/ejercicios/mostrarListadoejercicios'
        var sitio = 'https://boiling-cove-03768.herokuapp.com/ejercicios/mostrarListadoejercicios'
        
        // GET REQUEST
        function getTodos() {
            axios
                .get(sitio)
                .then(res => showOutput(res))
                // .catch(err => console.error(err))
        }

        // POST REQUEST
        function addTodo() {
            
            axios
                .post(sitio,{
                    titulo: "tituloPOST",
                    tema: "POST",
                    slug: "temaPOST",
                    enunciado: "po po po possst",
                })
                .then(res => showOutput(res))
                // .catch(err => console.error(err))

        }

        // PUT/PATCH REQUEST
        function updateTodo() {
            axios
                .patch('',{
                    title: 'Updated Todo',
                    completed: true
                })
                .then(res => showOutput(res))
                .catch(err => console.error(err))
        }

        // DELETE REQUEST
        function removeTodo() {
            axios
            .patch('')
            .then(res => showOutput(res))
            .catch(err => console.error(err))
            
        }


        // AXIOS INSTANCES

        // Show output in browser
        function showOutput(res) {
        document.getElementById('respuesta').innerHTML = `

        <div class="card mt-3">
            <div class="card-header">
            Data
            </div>
            <div class="card-body">
            <pre>${JSON.stringify(res.data, null, 2)}</pre>
            </div>
        </div>

        `;
        }

        // Event listeners
        document.getElementById('get').addEventListener('click', getTodos);
        document.getElementById('post').addEventListener('click', addTodo);
        document.getElementById('update').addEventListener('click', updateTodo);
        document.getElementById('delete').addEventListener('click', removeTodo);

    </script>
    <!-- ---------------------------- Fin JavaScript ---------------------------- -->

{% endblock %}