{% extends "base_layout.html" %}


{% block contenido %}

    <div class="row " style="padding: 10px 10px;">
      <div class="col" style="padding: 0px 20px;">
        <div class="card text-dark bg-light mb-3" >
            <div class="card-header">Ver un ejercicio aleatorio</div>
                <div class="card-body">
                    <h5 class="card-title">Probá con uno</h5>
                    <p class="card-text">Para empezar a probar lo que sabés en temas aleatorios de Física.</p>
                    <a href="ejercicios" class="stretched-link"></a>
                </div>
        </div>
      </div>
      <div class="col" style="padding: 0px 20px;">
        <div class="card text-dark bg-light mb-3" >
            <div class="card-header">Habilidades adicionales</div>
                <div class="card-body">
                    <h5 class="card-title">¿Cómo hago una gráfica?</h5>
                    <p class="card-text">Si tenés un conjunto de datos, aquí te enseñamos a graficarlo, para llegar mejor a tu audiencia.</p>
                    <a href="#" class="stretched-link"></a>
                </div>
        </div>
      </div>
      <div class="col" style="padding: 0px 20px;">
        <div class="card text-dark bg-light mb-3" >
            <div class="card-header">Aprender</div>
                <div class="card-body">
                    <h5 class="card-title">En pocas palabras</h5>
                    <p class="card-text">En poquitas palabras (o dibujos), algunos de los temas fundamentales de Física.</p>
                    <a href="#" class="stretched-link"></a>
                </div>
        </div>
      </div>
    </div>
 

  <div class="row" style="padding: 10px 10px;">
    <div class="col text-center" style="padding: 20px 20px;">
   
        <div class="card" style="padding: 20px 0px;">
            <div class="card-body">
              <h5 class="card-title">Mecánica</h5>
              <p class="card-text">Involucra a lo que se mueve y a lo que está quieto, en general es el mundo macroscópico.</p>
              <a href="#" class="btn btn-primary">Evaluar Mecánica</a>
            </div>
          </div>
    </div>

    <div class="col text-center" style="padding: 20px 20px;">
   
        <div class="card" style="padding: 20px 0px;">
            <div class="card-body">
              <h5 class="card-title">Electricidad y Magnetismo</h5>
              <p class="card-text">Involucra al mundo subatómico, y a efectos muchas veces invisibles.</p>
              <a href="#" class="btn btn-primary">Evaluar Electricidad y Magnetismo</a>
            </div>
          </div>
    </div>

  </div>




{% endblock %}